@model ModelThread

<h3>@Model.Name</h3>
<span class="free-postion top-right md-font">
    @*<i id="block" class="fas fa-th-large">d</i>
        <i id="list" class="fas fa-bars">s</i>*@
</span>
<div>
    @Html.Raw(@Model.Texts)
   
</div>