@model ModelThread

<h3>@Model.Name</h3>
@*<span class="free-postion top-right md-font">

    </span>*@
<span>@Model.PublishDate</span>
<h6><a asp-controller="Channel" asp-action="getDirectory" asp-route-id="df" asp-route-tid="df">fc/@Model.directorId</a></h6>
<br />
<div>
    @Html.Raw(@Model.Texts)
</div>
<hr />