.ViewBox {
    background-color: rgba(2,2,2,.1);
    min-height: 1411px;
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 3%;
}

.viewStretch {
    background-color: rgba(2,2,2,.1);
    min-height: 300px;
    padding-top: 13px;
    padding-left: 15px;
    padding-bottom:10px;
    padding-right: 15px;
    margin-bottom: 3%;
}

.details-box {
    /*background-color: rgba(222, 208, 208, 0.72);*/
    height: 445px;
    padding: 2% 0%;
    /*margin-top: 4%;*/
}


.md-Rectangle {
    height: 457px;
    background-color: rgba(2,2,2,.1);
    padding-top: 13px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 20px;
}

.sm-Rectangle {
    width: inherit;
    height: 70px;
    background-color: #cf6868;
    padding:7.5px;
}

.lg-img{
    width:150px;
    height:150px;
    border-radius:100%;
}

.md-img{
    width:55px;
    height:55px;
    border-radius:50px;
}

.sm-img{
    width:34px;
    height:34px;
    border-radius:50px;
}

.free-postion{
    position:absolute;
}
.top{
   top:inherit
}
.left{
    left:0
}

.right{
    right:18px;
}

.top-left{
    top:0;
    left:0;
}

.top-right {
    top: 13px;
    right: 28px;
}

.bottom-left {
    bottom: 0px;
    left: 0px;
}

.bottom-right {
    bottom: 0px;
    right: 0px;
}

.lg-font{
    font-size:35px
}

.md-font{
    font-size:20px;
}

sm-font{
    font-size:15px;
}

.vertical-list {
    list-style-type: none;
    padding-left: 4px;
}

.vertical-list li{
    margin-bottom:12px;
}

.mg-top-sm{
    margin-top:3%;
}
.mg-bottom-sm{
    margin-bottom:1%;
}
.tab {
    width: inherit;
    height: 70px;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    
}
.tab:hover {
    background-color: rgba(244, 202, 173, 0.89);
    border-radius: 50px 0 0 50px;
}

.seed{
    width:inherit;
    height:190px;
    background-color:#85aec0;
}

.seed figure{
    height:190px;
    width:30%;
}

.seed figure img{
    height:inherit;
    width:100%;
    z-index:0;
}

.seed aside{
    display:block;
    height:inherit;
    padding-top:1% ;
    padding-left:31%;
}
.seed aside header {
        background-color: transparent;

        margin-bottom: 1px;
        position: unset;
        padding-top: 0;
        padding-bottom:0;
}

.seed aside header h1{
    font-size:21px;
}
.seed aside header h2 {
    font-size: 10px;
}

.seed aside footer{
    position:absolute;
    bottom:20px;
    width:inherit;
    background-color:transparent;
}
