@model HomeData
@{
    ViewData["Title"] = "Welcome";
}

<div id="signPage">
    <section id="MainSection">
        <div class="container">
            <div>
                <div class="text-center">
                    <img id="loginlogo" src="~/image/Logo/mlogo.png" alt="Logo" />
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-12" > @* Log In div *@
                    <div  >
                        <form class="logIn" method="post" asp-action="LogIn" asp-controller="Start">
                            <span asp-validation-for="currentUser.Email"></span><br />
                            <span asp-validation-for="currentUser.Password"></span>
                            <fieldset>
                                <legend><b>Log In</b></legend>
                                <table>
                                    <tr>
                                        <td><input asp-for="currentUser.Email" class="inputText" type="text" placeholder="Email"  /></td>
                                    </tr>
                                    <tr>
                                        <td><input asp-for="currentUser.Password" class="inputText" type="password" placeholder="Password"  /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="Remember" value="OK" />&nbsp;&nbsp;  Remember me</td>
                                    </tr>
                                    <tr>
                                        <td><input class="btn btn-danger" type="submit" value="Log In"  /></td>
                                    </tr>
                                </table>


                            </fieldset>
                        </form>
                    </div>
                    
                    </div>
                    <div class="col-lg-1 col-md-12">
                        <div id="border">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12"> @* Sign Up div *@
                        <div>
                            <form class="signUp" method="post" asp-action="SignUp" enctype="multipart/form-data">
                                <span asp-validation-for="newUser.firstName" style="width:320px;"></span>
                                <span asp-validation-for="newUser.lastName" style="width:320px;"></span>
                                <span asp-validation-for="newUser.Email" style="width:320px;"></span>
                                <span asp-validation-for="newUser.Password" style="width:320px;"></span>
                                <span asp-validation-for="newUser.confirmPassword" style="width:320px;"></span>
                                <span asp-validation-for="newUser.birthYear" style="width:320px;"></span>
                                <span asp-validation-for="newUser.birthMonth" style="width:320px;"></span>
                                <span asp-validation-for="newUser.birthDay" style="width:320px;"></span>
                                <span asp-validation-for="newUser.Pic" style="width:320px;"></span>
                                <fieldset>
                                    <legend><b>Sign Up</b></legend>
                                    <table>
                                        <tr>
                                            <td><input asp-for="newUser.firstName" class="inputText" type="text" placeholder="First Name" /></td>
                                            <td><input asp-for="newUser.lastName" class="inputText" type="text" placeholder="Last Name" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><input asp-for="newUser.Email" class="LoginText inputText" type="text" placeholder="Email" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><input asp-for="newUser.Password" class="LoginText inputText" type="password" placeholder="Password" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><input asp-for="newUser.confirmPassword" class="LoginText inputText" type="password" placeholder="Confirm Password" /></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>Birthday</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                @* Years *@
                                                <select asp-for="newUser.birthYear" id="year">
                                                    <option value="" hidden>Year</option>
                                                </select>
                                                @* Months *@
                                                <select asp-for="newUser.birthMonth" id="month">
                                                    <option value="" hidden>Month</option>
                                                </select>
                                                @* Days *@
                                                <select asp-for="newUser.birthDay" id="day">
                                                    <option value="" hidden>Day</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td><input  style="width:100px" type="file" asp-for="newUser.Pic" /></td>
                                        </tr>
                                        @*<tr>
            <td colspan="2"><input type="checkbox" name="Remember" value="OK" />&nbsp;&nbsp;  I agree with all condtion and rules</td>
        </tr>*@
                                        <tr>
                                            <td><input class="btn btn-danger" type="submit" value="Sign Up" /></td>
                                        </tr>


                                    </table>


                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/JavaScript/BlogScript.js"></script>

