
@{
    ViewData["Title"] = "RegisterNewChannel";
}

<div class="RegisterSection">
    <form>
        <fieldset>
            <legend class="text-center"><b>Register new channel</b></legend>
            <table>
                <tr>
                    <th>Channel name*</th>
                    <td><input class="inputText" required /></td>
                </tr>
                <tr>
                    <th>Channel ID*</th>
                    <td><input class="inputText" required /></td>
                </tr>
                <tr>
                    <th>Channel description</th>
                    <td><textarea cols="23" rows="10" class="inputText" style="height:70px;"></textarea></td>
                </tr>
                <tr>
                    <th>Uplode cover Img</th>
                    <td><input type="file" /></td>
                </tr>
                <tr>
                    <th>Uplode Img</th>
                    <td><input type="file" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button class="btn btn-danger" style="width:85%"> Create new channel</button></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>

