@model ModelChannel
@{
    ViewData["Title"] = "MyChannel";
}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12" id="Header">
                <img src="@Model.img" alt="Channelbanner" />
                <i class="fas fa-camera"></i>
            </div>
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>

        </div>
    </div>

</section>
<section style="margin-top:1%">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="viewStretch">
                    @await Component.InvokeAsync("ShowThread")
                    <div>
                        <h4>Comments</h4>
                        <div class="form-group">
                            <textarea class="form-control"></textarea>
                        </div>
                        <br />
                        <div>
                            <div>
                                <div class="float-left" style="height:70px;">
                                    <img class="md-img" src="~/image/Test/square_Marc.jpg" alt="error" />
                                </div>
                                <div style="width:inherit">
                                    <h5>User</h5>
                                    <p>First comment First comment  First comment First comment First comment First comment First comment</p>
                                </div>
                            </div>
                            <div style="margin-left:5%">
                                <div class="float-left" style="height:58px;">
                                    <img class="sm-img" src="~/image/Test/square_Marc.jpg" alt="error" />
                                </div>
                                <div style="width:inherit">
                                    <h5>User</h5>
                                    <p>fg comment First comment  First comment First comment First comment First comment First comment</p>
                                </div>
                            </div>
                            <div style="margin-left:5%">
                                <div class="float-left" style="height:58px;">
                                    <img class="md-img" src="~/image/Test/square_Marc.jpg" alt="error" />
                                </div>
                                <div style="width:inherit">
                                    <h5>User</h5>
                                    <p>fg comment First comment  First comment First comment First comment First comment First comment</p>
                                </div>
                            </div>
                            <div style="margin-left:5%">
                                <div class="float-left" style="height:58px;">
                                    <img class="md-img" src="~/image/Test/square_Marc.jpg" alt="error" />
                                </div>
                                <div style="width:inherit">
                                    <h5>User</h5>
                                    <p>fg comment First comment  First comment First comment First comment First comment First comment</p>
                                </div>
                            </div>
                        </div>
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="float-left" style="height:58px;">
                                <img class="md-img" src="~/image/Test/square_Marc.jpg" alt="error" />
                            </div>
                            <div style="width:inherit">
                                <h5>User</h5>
                                <p>First comment First comment  First comment First comment First comment First comment First comment</p>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="sm-Rectangle">
                            <div>
                                <img class="md-img float-left" src="~/image/Test/square_Marc.jpg" />
                                <div class="float-left">
                                    <h4>Channel name</h4>
                                    <h6>122354 followers</h6>
                                </div>
                                <div class="free-postion top-right">
                                    <form>
                                        <input class="btn btn-primary" type="button" value="follow">
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-12" style="margin-top:4%">
                        <div class="sm-Rectangle" id="AddItemTable">
                            @* class="infoTable" *@
                            <button onclick="onNewFolder()"><i class="fas fa-folder-plus"></i></button>
                            <button onclick="onNewThread()"><i class="fas fa-file-medical"></i></button>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top:4%;">
                        <div class="md-Rectangle">
                            @*id="Folders"*@
                            <ul>
                                @*@foreach (var Directory in Model.getAllDirectory())
                                {
                                    <li onclick="onClick(this)">
                                        <i class="fas fa-folder-open"></i> @{ ModelDirectory D = Directory.Value;}
                                        @D.Name

                                    </li>
                                }*@
                                @*<li onclick="OnClick(this)">

                                        <i class="fas fa-folder-open"></i> Game
                                        <ul>
                                            @for (int i = 0; i < 5; i++)
                                            {
                                                <li> | <i class="fas fa-file"></i> new subject @i</li>

                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <i class="fas fa-folder"></i>
                                        <ul>
                                            <li>2.1</li>
                                            <li>2.2</li>
                                            <li>2.2</li>
                                            <li>2.2</li>
                                            <li>2.2</li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="NewFolder">
    <span><strong style="font-size:larger">Add new Folder</strong></span>
    <i onclick="offNewFolder()" id="Close" class="fas fa-window-close"></i>
    @*<form method="post" asp-action="AddFolder" asp-controller="Channel">
            <input asp-for="FolderName" type="text" id="FolderNameInput" class="form-control" placeholder="Folder Name">
            <span asp-validation-for="FolderName"></span>
            <button id="FolderNameSubmit" class="btn btn-danger" type="submit">Add</button>
        </form>*@
</div>
<div id="overlay" onclick="offNewThread()" style="overflow:auto">
    @await Component.InvokeAsync("NewThread")
</div>



<script src="~/JavaScript/MyChannel.js"></script>