@model ModelChannel
@{
    ViewData["Title"] = "Thread";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12" id="Header">
                <img src="~/image/Test/18055811_1882174805363193_626760598371261668_o.jpg" alt="Channelbanner" />
                <i class="fas fa-camera"></i>
            </div>
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>

        </div>
    </div>

</section>
<section style="margin-top:1%">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div style="min-height:30px;background-color:#c1b9d7">
                    <h3>Test thread</h3>
                    <p>this the first thread on the channel</p>
                </div>
                <br />
                <div style="min-height:30px;background-color:#c1b9d7">
                    <h3>Comments</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="row">

                    <div class="col-12">
                        <div class="infoTable">
                            <div>
                                <img src="~/image/Test/square_Marc.jpg" />
                            </div>
                            <div>
                                <h4>Channel name</h4>
                                <h6>122354 followers</h6>
                            </div>
                            <div>
                                <form>
                                    <input class="btn btn-primary" type="button" value="follow">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top:4%">
                        <div class="infoTable" id="AddItemTable">
                            <button onclick="onNewFolder()"><i class="fas fa-folder-plus"></i></button>
                            <button onclick="onNewThread()"><i class="fas fa-file-medical"></i></button>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top:4%;">
                        <div id="Folders">
                            <ul>
                                @foreach (var Directory in Model.getAllDirectory())
                                {
                                    <li onclick="onClick(this)">
                                        <i class="fas fa-folder-open"></i> @{ ModelDirectory D = Directory.Value;}
                                        @D.Name

                                    </li>
                                }
                                @*<li onclick="OnClick(this)">

                                        <i class="fas fa-folder-open"></i> Game
                                        <ul>
                                            @for (int i = 0; i < 5; i++)
                                            {
                                                <li> | <i class="fas fa-file"></i> new subject @i</li>

                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <i class="fas fa-folder"></i>
                                        <ul>
                                            <li>2.1</li>
                                            <li>2.2</li>
                                            <li>2.2</li>
                                            <li>2.2</li>
                                            <li>2.2</li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="NewFolder">
    <span><strong style="font-size:larger">Add new Folder</strong></span>
    <i onclick="offNewFolder()" id="Close" class="fas fa-window-close"></i>
    @*<form method="post" asp-action="AddFolder" asp-controller="Channel">
            <input asp-for="FolderName" type="text" id="FolderNameInput" class="form-control" placeholder="Folder Name">
            <span asp-validation-for="FolderName"></span>
            <button id="FolderNameSubmit" class="btn btn-danger" type="submit">Add</button>
        </form>*@
</div>1
<div id="overlay" onclick="offNewThread()" style="overflow:auto">
    @await Component.InvokeAsync("NewThread")
</div>



<script src="~/JavaScript/MyChannel.js"></script>

