
@{
    ViewData["Title"] = "Account Setting";
}
<div class="PersonalPic">
    <div>
        <img src="~/image/Test/square_Marc.jpg" />
        <h3>Abdo Aly</h3>
        <h6>ID:12345</h6>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div id="settingList">
                    <ul>
                        <li>
                           <a >Genral info</a>
                        </li>
                        <li>
                            <a >Change password</a>
                        </li>
                        <li>
                            <a >Block-list</a>
                        </li>
                        <li>
                            <a>Mute tags</a>
                        </li>
                        <li>
                            <a>Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8">
                <div id="settingDetails">

                </div>
            </div>
        </div>
    </div>
</section>

