
@{
    ViewData["Title"] = "Channel";
}

<section class="ChannelContainer">
    <div class="container">
        <div class="ChannelBar">
            <div class="row">
                <div class="arrows col-2">
                    <a><i class="fas fa-chevron-circle-left"></i></a>
                    <a><i class="fas fa-chevron-circle-right"></i></a>
                </div>
                <div class="arrows Home col-2">
                    <a><i class="fab fa-fort-awesome"></i></a>
                </div>
                <div class="navigation col-6">
                    <input class="LoginText" type="text" value="Root" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-folder"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-file-invoice"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-file-invoice"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-file-invoice"></i>
                    <h6>sd</h6>
                </div>
            </div>
            <div class="col-1">
                <div class="ChannelTab text-center">
                    <i class="fas fa-file-invoice"></i>
                    <h6>sd</h6>
                </div>
            </div>
        </div>
    </div>
    
</section>

