
@{
    ViewData["Title"] = "Channel";
}

<section id="ChannelContainer">
    <div class="container">
        <div class="ChannelBar">
            <div class="row">
                <div class="arrows col-md-2 col-sm-3 col-3">
                    <a class="link"><i class="fas fa-chevron-circle-left"></i></a>
                    <a class="link"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
                <div class="arrows Home col-1">
                    <a class="link"><i class="fab fa-fort-awesome"></i></a>
                </div>
                <div class="navigation col-md-6 col-5">
                    <input class="LoginText" type="text" value="Root" readonly />
                </div>
            </div>
        </div>
        <div id="files"></div>
        <div class="row">
            @for (int i = 0; i < 1; i++)
            {
                <div class="col-lg-1 col-md-2 col-sm-3 col-4  ">
                    <button id="@i" class="ChannelTab " onmouseover="iconHoverOver(this)" onmouseout="iconHoverOut(this)" onmousedown="onLongClick(this.id)" onmouseup="reset()">
                        <div class=" text-center">
                            <i class="fas fa-folder"></i>
                            <p>sd</p>
                        </div>
                    </button>
                </div>
            }
            <div class="col-lg-1 col-md-2 col-sm-3 col-4  ">
                <button id="1" class="ChannelTab " onmouseover="iconHoverOver(this)" onmouseout="iconHoverOut(this)" onmousedown="onLongClick(this.id)" onmouseup="reset()">
                    <div class=" text-center">
                        <i class="fas fa-folder"></i>
                        <p>ssdsdsdsdd</p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>
<div id="contextMenu">
    <button id="rename" class="menu-option"><i class="fas fa-pen"></i> </button>
    <button id="cut" class="menu-option"><i class="fas fa-cut"></i></button>
    <button id="delete" class="menu-option"><i class="fas fa-times"></i></button>
    <button id="info" class="menu-option"><i class="fas fa-info"></i></button>
</div>

<div id="dialoguemodal">
    <div id="renameDialogue" class="dialogueBox">
        <span class="close">&times;</span>
        <h3>Rename</h3>
        <input id="renameInput" type="text" />
        <button id="renameSubmit">Change</button>
    </div>
    <div id="deleteDialogue" class="dialogueBox">
        <span class="close">&times;</span>
        <h3>Delete</h3>
        <p>Do you really want to delete this item ?</p>
        <button id="deleteYes">Yes</button>
        <button id="deleteNo">No</button>
    </div>
    <div id="infoDialogue" class="dialogueBox">
        <span class="close">&times;</span>
        <h3>Info</h3>
        <table class="table table-striped" id="infoTable">
            <tr>
                <th>Name</th>
                <td>ddddddddddddddddddddddddddddddddddddffffffffffffffffffffffffffffffffffffffff</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>private/Public</td>
            </tr>
            <tr>
                <th>Establish date</th>
                <td>9/18/2018</td>
            </tr>
            <tr>
                <th>Last Modified Date</th>
                <td>9/18/2018</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>9/18/2018</td>
            </tr>
            <tr>
                <th>Description</th>
                <td >Test folder with static info and bla bla bla blabla bla bla blabla bla bla blabla bla bla bla </td>
            </tr>
        </table>
    </div>
</div>
<script src="~/JavaScript/ChannelContent.js"></script>



