
@{
    ViewData["Title"] = "Channel";
}

<section class="ChannelContainer">
    <div class="container">
        <div class="ChannelBar">
            <div class="row">
                <div class="arrows col-md-2 col-sm-3 col-3">
                    <a class="link"><i class="fas fa-chevron-circle-left"></i></a>
                    <a class="link"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
                <div class="arrows Home col-1">
                    <a class="link"><i class="fab fa-fort-awesome"></i></a>
                </div>
                <div class="navigation col-md-6 col-5">
                    <input class="LoginText" type="text" value="Root" readonly />
                </div>
            </div>
        </div>
        <div id="files"></div>
        <div class="row">
            @for (int i = 0; i < 6; i++)
            {
                <div class="col-lg-1 col-md-2 col-sm-3 col-4  ">
                    <button class="ChannelTab " onmouseover="iconHoverOver(this)" onmouseout="iconHoverOut(this)" onmousedown="onLongClick()" onmouseup="reset()">
                        <div class=" text-center">
                            <i class="fas fa-folder"></i>
                            <p>sd</p>
                        </div>
                    </button>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3 col-4  ">
                    <button class="ChannelTab " onmouseover="iconHoverOver(this)" onmouseout="iconHoverOut(this)" onmousedown="onLongClick()" onmouseup="reset()" >
                        <div class=" text-center">
                            <i class="fas fa-file-invoice"></i>
                            <p>sdssddddddddddddddddsssssssssssssss</p>
                        </div>
                    </button>
                </div>
            }
        </div>
    </div>

</section>



