
@{
    ViewData["Title"] = "Index";
}

<div id="signPage">
    <section id="MainSection">
        <div class="container">
            <div>
                <div class="text-center">
                    <img id="loginlogo" src="~/image/Logo/mlogo.png" alt="Logo" />
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-12" > @* Log In div *@
                    <div  >
                        <form class="logIn ">
                            <fieldset>
                                <legend><b>Log In</b></legend>
                                <table>
                                    <tr>
                                        <td><input class="inputText" type="text" placeholder="Email" required /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="inputText" type="password" placeholder="Password" required /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="Remember" value="OK" />&nbsp;&nbsp;  Remember me</td>
                                    </tr>
                                    <tr>
                                        <td><input class="btn btn-danger" type="submit" value="Log In" asp-action="MyFeed" /></td>
                                    </tr>
                                </table>


                            </fieldset>
                        </form>
                    </div>
                    
                    </div>
                    <div class="col-lg-1 col-md-12">
                        <div id="border">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12"> @* Sign Up div *@
                        <div>
                            <form class="signUp">
                                <fieldset>
                                    <legend><b>Sign Up</b></legend>
                                    <table>
                                        <tr>
                                            <td><input class="inputText" type="text" placeholder="First Name" required /></td>
                                            <td><input class="inputText" type="text" placeholder="Last Name" required /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><input class="LoginText inputText" type="text" placeholder="Email" required /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><input class="LoginText inputText" type="password" placeholder="Password" required /></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>Birthday</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                @* Years *@
                                                <select  id="year" required>
                                                    <option value="" hidden>Year</option>
                                                </select>
                                                @* Months *@
                                                <select id="month" required>
                                                    <option value="" hidden>Month</option>
                                                </select>
                                                @* Days *@
                                                <select id="day" required>
                                                    <option value="" hidden>Day</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><input type="checkbox" name="Remember" value="OK" />&nbsp;&nbsp;  I agree with all condtion and rules</td>
                                        </tr>
                                        <tr>
                                            <td><input class="btn btn-danger" type="submit" value="Sign Up" /></td>
                                        </tr>

                                    </table>


                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/JavaScript/BlogScript.js"></script>

