
@{
    ViewData["Title"] = "MyFeed";
    }

<section class="masterFeedSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12" >
                @* Last Feed *@
                <div class="Feed">
                    <h3>Last feed</h3>
                    <div class="New">
                        <div class="imgs">
                            <img src="~/image/Test/Cyberpunk-2077-150x150.jpg" />
                        </div>
                        <div id="feedDescription">
                            <h4>Cyberpunk 2077</h4>
                            <p>dfs';ljxc.,xngdf;kgljcb., nglkjcv; knhkchljnv;cl </p>
                        </div>
                    </div>
                    <div class="New">
                        <div class="imgs">
                            <img src="~/image/Test/Cyberpunk-2077-150x150.jpg" />
                        </div>
                        <div id="feedDescription">
                            <h4>Cyberpunk 2077</h4>
                            <p>dfs';ljxc.,xngdf;kgljcb., nglkjcv; knhkchljnv;cl </p>
                        </div>
                    </div>
                    <div class="New">
                        <div class="imgs">
                            <img src="~/image/Test/Cyberpunk-2077-150x150.jpg" />
                        </div>
                        <div id="feedDescription">
                            <h4>Cyberpunk 2077</h4>
                            <p>dfs';ljxc.,xngdf;kgljcb., nglkjcv; knhkchljnv;cl </p>
                        </div>
                    </div>
                    <div class="New">
                        <div class="imgs">
                            <img src="~/image/Test/Cyberpunk-2077-150x150.jpg" />
                        </div>
                        <div id="feedDescription">
                            <h4>Cyberpunk 2077</h4>
                            <p>dfs';ljxc.,xngdf;kgljcb., nglkjcv; knhkchljnv;cl </p>
                        </div>
                    </div>
                    <div class="New">
                        <div class="imgs">
                            <img src="~/image/Test/Cyberpunk-2077-150x150.jpg" />
                        </div>
                        <div id="feedDescription">
                            <h4>Cyberpunk 2077</h4>
                            <p>dfs';ljxc.,xngdf;kgljcb., nglkjcv; knhkchljnv;cl </p>
                        </div>
                    </div>
                    <div class="New">
                        <div class="imgs">
                            <img src="~/image/Test/Cyberpunk-2077-150x150.jpg" />
                        </div>
                        <div id="feedDescription">
                            <h4>Cyberpunk 2077</h4>
                            <p>dfs';ljxc.,xngdf;kgljcb., nglkjcv; knhkchljnv;cl </p>
                            @*<div><h6>more</h6></div>*@
                        </div>
                    </div>
                    <div class="New">
                        <div class="imgs">
                            <img src="~/image/Test/Cyberpunk-2077-150x150.jpg" />
                        </div>
                        <div id="feedDescription">
                            <h4>Cyberpunk 2077</h4>
                            <p>dfs';ljxc.,xngdf;kgljcb., nglkjcv; knhkchljnv;cl </p>
                            @*<div><h6>more</h6></div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 none">
                <div>
                    @* User Channels that follow *@
                    <div class="userProperties">
                        <h3>My Channels</h3>
                        <div class="Channel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">Unfollow</button>
                        </div>
                        <div class="Channel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">Unfollow</button>
                        </div>
                        <div class="Channel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">Unfollow</button>
                        </div>
                        <div class="Channel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">Unfollow</button>
                        </div>
                        <div class="Channel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">Unfollow</button>
                        </div>
                    </div>
                    @* Trend On blogs *@
                    <div class="userProperties">
                        <h3>Trends</h3>
                        <div class="trends">
                            <ul>
                                <li>#trend1</li>
                                <li>#trend1</li>
                                <li>#trend1</li>
                                <li>#trend1</li>
                                <li>#trend1</li>
                                <li>#trend1</li>
                                <li>#trend1</li>
                                <li>#trend1</li>
                                <li>#trend1</li>
                                <li>#trend1</li>

                            </ul>
                        </div>
                    </div>
                    @* Suggested Channels *@
                    <div class="userProperties">
                        <h3>Suggested Channels</h3>
                        <div class="SChannel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">follow</button>
                        </div>
                        <div class="SChannel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">follow</button>
                        </div>
                        <div class="SChannel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">follow</button>
                        </div>
                        <div class="SChannel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">follow</button>
                        </div>
                        <div class="SChannel">
                            <img src="~/image/Test/square_Marc.jpg" />
                            <span>Channel</span>
                            <button class="btn btn-primary">follow</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>