<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <script src="~/popper/popper.min.js" ></script>
    <script src="~/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="~/bootsrap/css/bootstrap.css" />
    <script src="~/bootsrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/CSS/BlogStyleSheet.css" rel="stylesheet" />
    <link href="~/CSS/MediaBlogStyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header> 
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-2">
                    <div class="Logo_H">
                        <a asp-controller="Start" asp-action="Welcome" ><img class="image-SM" src="~/image/Logo/small logo.png" alt="infinite blogs"/></a>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated == true)
                {

                <div class="col-lg-5 col-sm-4 col-10" style="padding-top:4px;">
                    <nav class="menu_H">
                        <a class="link" asp-controller="Start" asp-action="Welcome">
                            <i class="fas fa-home"></i>
                            <h6>Home</h6>
                        </a>
                        <a class="link" asp-controller="Channel" asp-action="LocalChannel" >
                            <i class="fas fa-folder"></i>
                            <h6>Local Channel</h6>
                        </a>
                        <a class="link" asp-controller="Channel" asp-action="ChannelPanel">
                            <i class="fas fa-folder-plus"></i>
                            <h6>My Channel</h6>
                        </a>
                    </nav>
                </div>
                <div class="d-sm-none d-block col-12" style="height:10px;"></div>
                <div class="col-lg-4 col-sm-5 col-7">
                    <form class="search_H  ">
                        <input class="inputText" type="search" placeholder="Search" aria-label="Search">
                        <button class="inputText" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="col-sm-1 col-2">
                    <div class="submenu_H">
                        <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="image-SM" src="@ViewBag.img" alt="notfound" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-action="AccountSetting" asp-controller="Home">Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <form asp-action="LogOut" asp-controller="Start" method="post">
                                <input  class="dropdown-item" type="submit" value="Logout" />
                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-1">
                    <div class="notification_H">
                        <a  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">sd</a>
                        </div>

                    </div>
                </div>
                }
            </div>
            
        </div>
    </header>

    

        @RenderBody()

    

</body>
</html>
