<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/CSS/BlogStyleSheet.css" rel="stylesheet" />
    <link href="~/CSS/MediaBlogStyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header> 
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-2">
                    <div class="Logo_H">
                        <a href="https:\\google.com"><img src="~/image/Logo/small logo.png" alt="infinite blogs" /></a>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-4 col-10">
                    <nav class="menu_H">
                        <a asp-action="Channel">
                            <i class="fas fa-home"></i>
                            <h6>Home</h6>
                        </a>
                        <a href="#">
                            <i class="fas fa-folder"></i>
                            <h6>Local Channel</h6>
                        </a>
                        <a href="#">
                            <i class="fas fa-folder-plus"></i>
                            <h6>My Channel</h6>
                        </a>
                    </nav>
                </div>
                @*<span class="submenu_H minSearchDisplay ">
            <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search"></i>
            </a>
        </span>*@
                <div class="col-lg-4 col-sm-5 col-7">
                    <form class="search_H  ">
                        <input class="inputText" type="search" placeholder="Search" aria-label="Search">
                        <button class="inputText" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="col-sm-1 col-2">
                    <div class="submenu_H">
                        <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/image/Test/square_Marc.jpg" alt="infinite blogs" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>

                    </div>
                </div>
                <div class="col-1">
                    <div class="notification_H">
                        <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    

        @RenderBody()

    <script src="~/JavaScript/BlogScript.js"></script>

</body>
</html>
