
@model ModelThread

<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
      
                    <form enctype="multipart/form-data" asp-action="AddThread" asp-controller="Channel" asp-route-id="fc" method="post">
                        <h2 class="align-middle" style="color:white">New Thread</h2>
                        <div class="form-group">
                            <select class="form-control" id="FolderSelect" asp-for="directorId">
                                <option value="" hidden>Select Folder</option>
                                <option value="fcD1">Game</option>
                                <option value="fcD2">Anime</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" placeholder="Thread Name" id="ThreadName" asp-for="Name" />
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Texts" id="editor1"></textarea>
                        </div>
                        <script>
                            CKEDITOR.replace('editor1');
                        </script>

                        <br /><br />
                        <h4 style="color:white">Description (Optinal)</h4>
                        <textarea class="form-control" rows="5" asp-for="Description"></textarea>
                        <br />
                        <h4 style="color:white">Tags</h4>
                        <input type="text" class="form-control" placeholder="Put ',' to distenct between tags" />
                        <br />
                        <h4 style="color:white">Thread Image</h4>
                        <input type="file" asp-for="Pic" />
                      
                        <br />
                        @*<input type="submit" value="Uploade" />>*@
                        <table>
                            <tr>
                                <td><button class="btn btn-light" id="SubmitThread" type="submit" value="value="Uploade">Submit</button></td>

                            <tr>
                                <td><button class="btn btn-danger"> Reset</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


